/*


 */

form[name="gladepay_form"] {
    width: 60%;
    box-sizing: border-box;
    margin: 5px;
}
#card_info, #card_otp {
    padding: 0px 50px;
}

#form-message {
    padding: 5px;
    text-align: center;

    margin-bottom: 10px;
}

input, select {
    box-sizing: border-box;
    border: #ddd 1px solid;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 5px;
}

.gladepay_select{
    width: 50%;
    background: white;
}
select:first-child, input[name='card_cvc']{
    width: 48%;
    margin-right: 2%;
}

input[type='button'] {
    width: 100%;
    border: none;
    padding: 7.5px 5px;

    background: #39b2df;
    color: #ffffff;
}

.input-100{
    width: 100%;
}
.input-50{
    width: 50%;
}

/*  */
#card_otp, #gp_loader {
    display: none;
}

/*  */
#gp_loader{
    position: static;
    top: 0;
    width: 100%;
}
.gp_img {
    width: 100%;
    height: 100%;
}